<div class="stretch">

<h1>New Message Yo</h1>

	<%= form_for(@message) do |f| %>
		<%= f.label :user_message %>
		<%= f.text_field :user_message %><br><br>

		<%= f.submit 'Send A Message', :class => 'altbtn altbtn-lg altbtn-outline' %>
		<% end %>



</div>