<div class="stretch">

<h1>Welcome <%= @employee.name %></h1>

<h2>All employee accounts must be approved. Please await approval.

<br><br>

Once approved an email will be sent to <%= @employee.email %></h2>

</div>