<div class="stretch">
<h1>Average Cost Of Internet</h1>
<h2>Averaging together all of our users, the average cost of internet in America is $<%= average_internet_cost %></h2><br><br>
<%= link_to "Back To Communities", communities_path %>



</div>